/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

.title h1 {
    color: green;
    font-size: 300%;  
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    float: right;
    position:relative;
    padding-right: 8%;
    margin-top: 4%;
    padding-bottom: 10%;
  }

.title img{
    position: relative;
    max-width: 14%;
    height: 14%;
    border-radius: 80%;
    align-items: top;
    float:left;
    padding-left: 0.5%;
    padding-top: 0.5%;
}

body{
    min-height: 100vh;
    background-image: url("../resources/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 50%;
    padding: 5%;
  }

ul {
  list-style-type: none;
  width: 100%;
  padding: 0;
  overflow: hidden;
  background-color: #333;}

  li {
    float: left;
  }
  
  li a {
    display: flex;
    color: #EBE9D6;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
  .active {
    background-color: green;
  }


.cards {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 4%;
    padding-right: 5%;
    width: 80%;
    background-color: #8bcd6ae8;
    display: flex;
  }

  .text{
    margin-top: 2%;
    background-color: #8bcd6ae8;
    width: 50%;
    padding-left: 2%;
  }

  img .card{
    width: 100%;
    padding: 10%;
    border: 2px solid red;
  }

  .card a{
    text-decoration: none;
    color: black;
  }

  .card p{
    text-align: left;
  }

  .container h2{
    margin-top: 2%;
    width: 80%;
    background-color: green;
    padding-bottom: 2%;
    padding-left: 2%;
  }
 
  .container{
    margin-left: 15%;
  }
