<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">
<link rel="stylesheet" href="../static/css/contact.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="icon" href="../static/resources/logo.png" type="image/icon type">

<html>
    <body>
        <header>
          <div class="title">
            <a href="/home"><img src = "../static/resources/logo.png" alt = "logo"></a>
              <h1>Crop and Fertilizer Recommendation Engine</h1>
           </div>
           <ul class="navbar">
             <li><a href="/home">Home</a></li>
             <li><a href="/crop">Crop Recommender</a></li>
             <li><a href="/fertilizer">Fertilizer Recommender</a></li>
             <li><a href="/history">History</a></li>
             <li><a class="active" href="/contact">Contact Us</a></li>
             <li style="float: right"><a href="/signout">Sign Out</a></li>
           </ul>
         </header>

         <div class="container">
            <h2 id="title">Please fill out this form if you have any questions/message for us</h2>

          <section class="contact-wrap">
            <form action="" class="contact-form">
              <div class="col-sm-6">
                <div class="input-block">
                  <label for="">First Name</label>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="input-block">
                  <label for="">Last Name</label>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="col-sm-12">
                <div class="input-block">
                  <label for="">Email</label>
                  <input type="text" class="form-control" required>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="input-block">
                  <label for="">Message Subject</label>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="col-sm-12">
                <div class="input-block textarea">
                  <label for="">Drop your message here</label>
                  <textarea rows="3" type="text" class="form-control" required></textarea>
                </div>
              </div>
              <div class="col-sm-12">
                <button class="submit">Send</button>
              </div>
            </div>
            </form>
          </section>
    </body>
</html>