<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">
<link rel="stylesheet" href="../static/css/crop.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="icon" href="../static/resources/logo.png" type="image/icon type">

<html>
    <body>
        <header>
          <div class="title">
              <img src = "../static/resources/logo.png" alt = "logo">
              <h1>Crop and Fertilizer Recommendation Engine</h1>
           </div>
           <ul class="navbar">
             <li><a href="/home">Home</a></li>
             <li><a class="active" href="/crop">Crop Recommender</a></li>
             <li><a href="/fertilizer">Fertilizer Recommender</a></li>
             <li><a href="/contact">Contact Us</a></li>
             <li style="float:right"><a href="/signout">Sign Out</a></li>
           </ul>
         </header>
    <div class="container">
       <h1 id='title'>Crop Recommendation Engine</h1>
           <p id='description'>
               Let AI help you in finding suitable crop for you
           </p>
           <p> Please provide the following values and click submit to get crop recommendation:</p>
       <form id='crop-form' action="/crop" name="crop-form" method="POST">
           <div class='form-input'>
               <label id='crop_nitrogen'>Nitrogen</label>
               <input type="number" id="crop_nitrogen" name="N" step="any" value={{N}} min="1" required>
           </div>
           <div class='form-input'>
            <label id='crop_phosphorus'>Phosphorus</label>
            <input type="number" id="crop_phosphorus" name="P" step="any" value={{P}} min="1" required>
        </div>
        <div class='form-input'>
            <label id='crop_potassium'>Potassium</label>
            <input type="number" id="crop_potassium" name="K" step="any" value={{K}} min="1" required>
        </div>
        <div class='form-input'>
            <label id='crop_temperature'>Temperature (in Celcius)</label>
            <input type="number" id="crop_temperature" name="temp" step="any" value={{temp}} min="1" required>
        </div>
        <div class='form-input'>
            <label id='crop_humidity'>Humidity (in %)</label>
            <input type="number" id="crop_humidity" name="humidity" step="any" value={{humidity}} min="1" required>
        </div>
        <div class='form-input'>
            <label id='crop_ph'>Ph</label>
            <input type="number" id="crop_ph" name="ph" step="any" value={{ph}} min="1">
        </div>
        <div class='form-input'>
            <label id='crop_rainfall'>Rainfall (in mm)</label>
            <input type="number" id="crop_rainfall" name="rainfall" value={{rainfall}} step="any" min="1">
        </div>
           <div class='form-input'>
               <button type='submit' id='submit' style="background-color: green;" >Submit</button>
           </div>
        </form>
       <div id="result" name="result" class="result-content">{{prediction}}</div>
   </div>

</body>
</html>