<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">
<link rel="stylesheet" href="../static/css/home.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="icon" href="../static/resources/logo.png" type="image/icon type">

<html>
    <body>
        <header>
          <div class="title">
              <img src = "../static/resources/logo.png" alt = "logo">
              <h1>Crop and Fertilizer Recommendation Engine</h1>
           </div>
           <ul class="navbar">
             <li><a class="active" href="/home">Home</a></li>
             <li><a href="/crop">Crop Recommender</a></li>
             <li><a href="/fertilizer">Fertilizer Recommender</a></li>
             <li><a href="/contact">Contact Us</a></li>
             <li style="float: right"><a href="/signout">Sign Out</a></li>
           </ul>
         </header>
      
      <div class="container">
        <h2> Choose any one card:</h2>

      <div class="cards">
        <div class="card">
        <a href="/crop">
          <img src="../static/resources/crop_image [photoutils.com].webp" alt="crop recommender" class="card-img-top">
            <h1 class="card-title">Crop Recommender</h1>
            <p>
              Click this card to get recommendation on which crop to sow based on the weather and soil <a href="/crop"></a>
            </p>
        </a>
        </div>

        <div class="card">
            <a href="/fertilizer">
            <img src="../static/resources/fertilizer_img [photoutils.com].jpeg" alt="fertilizer recommender" class="card-img-top">
                <h1 class="card-title">Fertilizer Recommender</h1>
                <p>
                    Click this card to get recommendation on which fertilizer to use based on the crop, weather and soil <a href="fertilizer"></a>
                </p>
            </a>
        </div>
     </div>
    </body>
</html>