<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">
<link rel="stylesheet" href="../static/css/home.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="icon" href="../static/resources/logo.png" type="image/icon type">

<html>
    <body>
        <header>
          <div class="title">
              <a href="/home"><img src = "../static/resources/logo.png" alt = "logo"></a>
              <h1>Crop and Fertilizer Recommendation Engine</h1>
           </div>
           <ul class="navbar">
             <li><a class="active" href="/home">Home</a></li>
             <li><a href="/crop">Crop Recommender</a></li>
             <li><a href="/fertilizer">Fertilizer Recommender</a></li>
             <li><a href="/history">History</a></li>
             <li><a href="/contact">Contact Us</a></li>
             <li style="float: right"><a href="/signout">Sign Out</a></li>
           </ul>
         </header>
      
         <div class="container">

          <div class="card">
            <a href="/crop">
              <img src="../static/resources/crop_image.webp" alt="crop recommender" class="card-img-top">
                <h2 class="card-title">Crop Recommender</h2>
                <p>
                  Click this card to get recommendation on the crop to sow based on the weather and soil <a href="/crop"></a>
                </p>
            </a>
            </div>
    
            <div class="card1">
                <a href="/fertilizer">
                <img src="../static/resources/fertilizer_image.jpg" alt="fertilizer recommender" class="card-img-top">
                    <h2 class="card-title">Fertilizer Recommender</h2>
                    <p>
                        Click this card to get recommendation on the fertilizer to use based on the crop, weather and soil <a href="fertilizer"></a>
                    </p>
                </a>
                </div>        
              </div>
     </div>
    </body>
</html>